<!-- templates/base.html -->
<!DOCTYPE html>
<html>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<head>
  <meta charset="utf-8">
  <title>{% block title %}CertTrac{% endblock %}</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="{% url 'add_hours' %}" class="{% if request.resolver_match.url_name == 'add_hours' %}active{% endif %}">Add Tutor Hours</a></li>
      <li><a href="{% url 'page25' %}" class="{% if request.resolver_match.url_name == 'page25' %}active{% endif %}">Add 25 Logged Hours</a></li>
      <li><a href="{% url 'session' %}" class="{% if request.resolver_match.url_name == 'session' %}active{% endif %}">Add Team Meeting</a></li>
      <li><a href="{% url 'add_tutor' %}" class="{% if request.resolver_match.url_name == 'add_tutor' %}active{% endif %}">Add Tutors</a></li>
      <li><a href="{% url 'help' %}" class="{% if request.resolver_match.url_name == 'help' %}active{% endif %}">Help</a></li>
      <!-- Search form -->
      <li style="float: right;">
        <form action="{% url 'search' %}" method="get">
          <input type="text" name="q" placeholder="Search...">
          <button type="submit">Search</button>
        </form>
      </li>
    </ul>
  </nav>
  <main class="main-content">
    
  <main>
    {% block content %}
    <!-- The content for each page will be inserted here -->
    {% endblock %}
  </main>
</body>
</html>
